<p>ver-rooms works!</p>
<app-spinner></app-spinner>
<!-- <div class="title">
  <h1>View of Room</h1>
</div>
<br>

<div *ngIf="country != null" class="container mat-elevation-z5">
  <mat-card class="card">
    <mat-card-title>Room</mat-card-title>
    <mat-card-content>
      <p><strong>IdRoom: </strong>{{ room.meetingRoomId}}</p>
      <p><strong>Name of room: </strong>{{ room.meetingRoomsName }}</p>
    </mat-card-content>
    <mat-card-actions class="card">
      <button routerLink="/home/admRooms/rooms" mat-raised-button>back</button>
    </mat-card-actions>
  </mat-card>
</div> -->
