<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/homeAdm">Home</a>
    <a class="nav-link" href="/bookings">Bookings</a>
    <a class="nav-link" href="/users">Users</a>
    <a class="nav-link" href="/rooms">Rooms</a>
    <a class="nav-link" href="/listaCountries">List Countries</a>
    <a class="nav-link" href="/listaOffices">List Offices</a>
    <a class="nav-link" href="/listaCities">List Cities</a>
    <a class="nav-link" href="">
      <mat-icon>logout</mat-icon>
    </a>
  </nav>
  
<div class="title">
    <h1>Ver Pais</h1>
</div>
<br>

<div *ngIf="country != null" class="container mat-elevation-z5">
    <mat-card class="card">
        <mat-card-title>Pais</mat-card-title>
        <mat-card-content>
            <p><strong>IdPais: </strong>{{ country.countryId}}</p>
            <p><strong>Nombre pais: </strong>{{ country.countryName }}</p>
        </mat-card-content>
        <mat-card-actions class="card">
            <button routerLink="/listaCountries" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>