
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }

  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #9b5fe9;
  }



  /* Estilos para las etiquetas de los formularios */
label {
    font-weight: bold; /* Hace que el texto de la etiqueta sea negrita */
    display: block; /* Coloca cada etiqueta en una línea nueva */
    margin-bottom: 5px; /* Agrega un pequeño espacio debajo de cada etiqueta */
    color: #333; /* Color de texto oscuro */
  }
  

input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
    input[type=password]:focus {
      background-color: #fff;
      border-bottom: 2px solid #9b5fe9;
    }
  
    input[type=password]:placeholder {
      color: #cccccc;
    }



    
/* Estilos para el botón de envío del formulario */
button[type="submit"] {
    background-color: #007bff; /* Color de fondo azul (puedes cambiarlo según tus preferencias) */
    color: #fff; /* Color de texto blanco */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px; /* Espaciado interno para hacer que el botón sea más grande */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al estilo de la mano al pasar el mouse por encima */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo al pasar el mouse por encima */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro en el hover */
  }
  
  button {
    margin-right: 15px;
    align-self: center;
  }
  
  .snackbar-error {
    background-color: red;
    color: white; 
  }