<div mat-dialog-content>
    <form  [formGroup]="form" >
        <mat-form-field>
            <mat-label >Old Password</mat-label>
            <input type="password" formControlName="oldPassword" matInput >
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" formControlName="newPassword" matInput >
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input type="password" formControlName="repeatNewPassword" matInput >
          </mat-form-field>
    </form>
    <button  (click)="onNoClick()"  mat-raised-button >Back</button>
    <button (click)="onChangePassword()" mat-raised-button color="primary">Save</button>
</div>

