<div class="containerTabla">
    <div class="row">
        <div class="col"><h1>Reserva</h1></div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food" [value]="food.value">{{food.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>
