
<div class="container">
  <h1 class="title">Welcome to ACMEET</h1>
  <p class="eslogan">Booking has never been easier</p>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>

      <!-- Icon -->
      <div class="fadeIn first">
        <i class="fa-regular fa-user"></i>
      </div>

      <!-- Login Form -->
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <input formControlName="user" [class.is-invalid]="f.user.errors && f.user.touched" type="text" id="login" class="fadeIn second" name="login" placeholder="User Name or Email">
        <div id="validationServer04Feedback" class="invalid-feedback">
          Mandatory User Name or Email
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" name="login" id="password" type="password" class="fadeIn third" placeholder="Password">
          <div id="validationServer04Feedback" class="invalid-feedback">
            Mandatory Password
          </div>
        </div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">

        <a class="underlineHover" routerLink="/forgotPassword">Forgot Password?</a>
        <br />
        <a routerLink="/register" class="link-primary">You don't have account?</a>
      </div>

    </div>
  </div>
</div>

