
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Acmeet</h5>
    <h6 class="card-subtitle mb-2 text-muted">booking has never been easier</h6>
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input type="password" class="form-control" placeholder="password">
      </div>
      <br />
      <button type="button" class="btn btn-success">login</button>
    </form>
    <br />
    <a routerLink="/register" class="link-primary">register</a>
    <br />
    <a routerLink="/forgotPassword" class="link-secondary">forgot password</a>
  </div>
</div>
