<div class="container-fluid">
  <div class="row">
      <div class="col">     
              <img class="salaImg1" src="../../../assets/img/job-gd1fb0249b_1920.jpg" alt="oficina">
      </div>
      <div class="col info">
          <h1>ACMEET Meeting Rooms</h1>
          <br>
          <p class="bienvenida">
              Welcome to ACMEET, your comprehensive solution to efficiently manage meeting room reservations in our international delegations. Explore our extensive list of lounges available in cities such as New York, London, Paris, Berlin, Barcelona, Rome, Tokyo and many more. With ACMEET, booking the perfect room for your meetings has never
               been easier. Make reservations, modify and cancel without complications, thanks to our intuitive web application. 
               Forget the stress of manual management and enjoy 
              An efficient and hassle-free process. Join ACMEET and optimize your business meeting organization today!
          </p>
          <div class="botones">
              <button mat-fab extended color="primary">
                <mat-icon>calendar_today</mat-icon>
                Reserve Now!
              </button>
              <button routerLink="/home/meetingRoom" mat-fab extended color="basic">
                <mat-icon>list_alt</mat-icon>
              List of Rooms
              </button>
            </div>
      </div>
  </div>
  <br><br><br>
  <hr>
  <div class="row row1">
      <div class="col consultaReserva">
             Check your<br><br><br>
              reserves!
          <div class="botonesReserve">
              <button routerLink="/home/bookings" mat-fab extended color="primary">
                <mat-icon>calendar_today</mat-icon>
                Check my reserves
              </button>
            </div>
      </div>
      <div class="col">
          <img class="salaImg2" src="../../../assets/img/a0c12c293b8a21038a59c7066ebfff28.jpg" alt="oficina">
      </div>
  </div>
</div>
<app-footer></app-footer>
