<div class="container">
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 style="text-align:center">Add users</h5>
          <form [formGroup]="form" (ngSubmit)="addUser()">
            <div class="input-group input-group-lg nb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-user"></i>
              </span>
              <input formControlName="name" type="text" class="form-control" placeholder="name">
            </div>

            <br />
            <div class="input-group input-group-lg nb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-user"></i>
              </span>
              <input formControlName="last" type="text" class="form-control" placeholder="last name">
            </div>

            <br />
            <div class="input-group input-group-lg nb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <input formControlName="email" type="text" class="form-control" placeholder="gmail">
            </div>

            <br />
            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Add</button>
            </div>
          </form>
          

        </div>
      </div>
    </div>
    <br />
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 style="text-align:center">Users list</h5>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Last</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let users of userslist">
                  <th scope="row">1</th>
                  <td>{{users.name}}</td>
                  <td>{{users.last}}</td>
                  <td>{{users.email}}</td>
                  <td>
                    <i class=" icon fa-regular fa-pen-to-square text-info"></i>
                  </td>
                  <td>
                    <i class=" icon fa-solid fa-trash-can text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

