/* Estilos generales del navbar */

#nav {
    padding: 10px;
    width: 80%;
    margin: auto;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #6723d5;
  }
  /* Estilos de los enlaces del navbar */
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  /* Estilos del menú de administración */
  .mat-menu-panel {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
  }
  
  .mat-menu-item {
    padding: 5px 15px;
  }
  
  /* Estilos del botón de administración */
  button[matMenuTriggerFor="administration"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  button[matMenuTriggerFor="administration"] span {
    margin-right: 5px;
  }
  
  .valign-center {
    display: flex;
    align-items: center;
  }
  .nav-link:hover{
    margin-left: auto;
    color: #000;
  }
  .nav{
    margin-left: auto;
  }

  li > a{
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 550;
  }
  li > a.nav-link:hover {
    background-color: #eaddff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  li > a {
    border-radius: 10px; 
    transition: border-radius 0.3s ease-in-out;
  }
  
  li > a:hover {
    background-color: #8948f1;
    color: white;
  }
  
  li > a:hover,
  li > a:focus {
    border-radius: 10px; /* Mantener el border-radius al hacer hover o focus */
  }
  
  

  
