/* Estilos generales del navbar */
#nav {
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  
  /* Estilos de los enlaces del navbar */
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  /* Estilos del menú de administración */
  .mat-menu-panel {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .mat-menu-item {
    padding: 5px 15px;
  }
  
  /* Estilos del botón de administración */
  button[matMenuTriggerFor="administration"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  button[matMenuTriggerFor="administration"] span {
    margin-right: 5px;
  }
  
  .valign-center {
    display: flex;
    align-items: center;
  }
  .nav-link{
    margin-left: auto;
    color: #000;
  }
  .nav{
    margin-left: auto;
  }
